body {
    display: flex;
    min-height: 100vh;
    margin: 0;
}

.sidebar {
    width: 250px;
    background-color: #007bff; /* Azul */
    border-right: 1px solid #0056b3; /* Un tono de azul más oscuro para el borde */
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: white; /* Letras blancas */
}

.sidebar h2 {
    margin-bottom: 20px;
    color: white; /* Título en blanco también */
}

.sidebar .nav-tabs {
    flex-grow: 1;
}

.sidebar .nav-link {
    border: none;
    border-radius: 0;
    padding: 10px 15px;
    text-align: left;
    color: white; /* Links en blanco */
}

.sidebar .nav-link.active {
    background-color: #0056b3; /* Un tono de azul más oscuro para el activo */
    border-left: 5px solid #bfff00; /* Vivo verde limón más grueso */
    color: white; /* Texto activo en blanco */
    font-weight: bold; /* Resaltar el activo */
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.tab-content {
    margin-top: 20px;
}

.plotly-graph {
    width: 100%;
    min-height: 300px;
}
